@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.site-container,
	.site-container > .site-full,
	.site-container > .site-extra-wide {
		grid-template-columns:
			[full-start] minmax(0, auto) [extra-wide-start] minmax(20px, 72px)
			[wide-start] minmax(auto, 280px) [main-start] min(
				720px,
				calc(100% - max(8vmin, max(20px, 40px)))
			)
			[main-end] minmax(auto, 280px) [wide-end] minmax(20px, 72px) [extra-wide-end] minmax(
				0,
				auto
			)
			[full-end];
		@apply grid bg-red-50;
	}
	.site-full {
		grid-column: full-start / full-end;
	}
	.site-extra-wide {
		grid-column: extra-wide-start / extra-wide-end;
	}
	.site-wide {
		grid-column: wide-start / wide-end;
	}
	.site-main {
		grid-column: main-start / main-end;
	}
	.header-background {
		background: linear-gradient(
			255deg,
			#a2a2ac 0.76%,
			#595b68 38.29%,
			#05081a 99.05%
		);
	}
}
